/*======================= VARIABLES =======================*/
:root {
  --black: #000;
  --white: #fff;
  --main-color: #3a3335;
  --background: rgb(230, 230, 230);
  --dark-grey: rgb(150, 150, 150);
}

/*======================= RESET =======================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

/*======================= MAIN PREFS =======================*/
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  font-family: "Nunito", sans-serif;

  background-color: var(--main-color);

  display: grid;
  place-items: center;
}

/*======================= APP CONTAINER =======================*/
.app {
  position: relative;

  width: 35rem;
  height: 60rem;

  background-color: var(--background);

  padding: 1rem;

  border-radius: 1.2rem;
  border: 4px solid var(--main-color);

  overflow: hidden;
}

/* ADD NOTE BUTTON */
.add-note-button {
  --button-size: 5rem;

  height: var(--button-size);
  width: var(--button-size);

  position: absolute;
  right: 0;
  bottom: 0;

  margin: 0 1rem 1rem 0;

  font-size: 3rem;
  font-weight: 700;

  color: var(--white);
  background-color: var(--main-color);

  border-style: none;
  border-radius: 50%;

  cursor: pointer;
}

/*======================= NOTES CONTAINER =======================*/
.notes-container {
  display: flex;
  flex-direction: column;

  height: 100%;

  overflow-y: visible;

  overflow-x: hidden;
}

.notes-container .note:not(:last-child) {
  margin-bottom: 1rem;
}

.notes-container .note:last-child {
  margin-bottom: 8rem;
}

.notes-container .note {
  border-radius: 0.8rem;

  background-color: var(--white);

  padding: 0.2rem 0;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.notes-container .note .note-title {
  font-size: 2.5rem;

  margin: 1rem 1rem;

  color: var(--black);
}

.notes-container .note .note-preview {
  margin: 0 1rem 1rem;

  font-size: 2rem;
  font-weight: 700;

  color: var(--dark-grey);
}

/*======================= NOTES n' DROPDOWN WRAPPER =======================*/
.notes-container .note .note__date_note-prefs {
  border-top: 2px solid var(--background);

  padding: 0.4rem 1rem;

  font-size: 1.6rem;

  font-weight: 700;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.notes-container .note .note__date_note-prefs .date {
  color: var(--dark-grey);
}

.notes-container .note .note__date_note-prefs .note-prefs {
  position: relative;

  line-height: 15%;

  height: 2rem;

  padding: 0 1rem;

  color: var(--dark-grey);

  font-size: 3rem;
}

.notes-container .note .note__date_note-prefs .note-prefs .dots {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/*======================= DROPDOWN =======================*/
.notes-container .note .note__date_note-prefs .dropdown-menu {
  position: absolute;
  bottom: -4rem;
  right: 0;

  visibility: hidden;

  background: #fff;

  display: flex;
  flex-direction: column;

  border-radius: 0.5rem;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.notes-container .note .note__date_note-prefs .dropdown-menu .dropdown-option {
  padding: 0.5rem 1.5rem;

  color: var(--black);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-container .note .note__date_note-prefs .dropdown-menu .dropdown-option:hover {
  background-color: rgb(240, 240, 240);
}

.notes-container .note .note__date_note-prefs .dropdown-menu .dropdown-option i {
  margin-left: 1rem;
}
